@keyframes bounce {
	0%,100% {
		transform:translateY(-25%);
		animation-timing-function:cubic-bezier(.8,0,1,1);
	}
	50% {
		transform:none;
		animation-timing-function:cubic-bezier(0,0,.2,1);
	}
}
@keyframes slideupright {
	0% {
		transform:scale(0);
		transform-origin:bottom right;
	}
	100% {
		transform:scale(1);
		transform-origin:bottom right;
	}
}
@keyframes slideupleft {
	0% {
		transform:scale(0);
		transform-origin:bottom left;
	}
	100% {
		transform:scale(1);
		transform-origin:bottom left;
	}
}
@media(prefers-reduced-motion:no-preference) {
	@keyframes spin {
		to {
			transform:rotate(360deg);
		}
	}
}
@media(prefers-reduced-motion:reduce) {
	@keyframes pulse {
		50% {
			opacity:.5;
		}
	}
}



:host {
	contain: content !important;
	isolation: isolate;
	padding: var(--prose-margin, 1rem 0.75rem);
	padding-top: 0;
	padding-bottom: 0;
}

.prose { /* ROOT */
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	font-family:
		Atkinson Hyperlegible, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
		apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
	
	color: rgb(25, 25, 25);
	max-width: 65ch;
	
	scrollbar-color: initial;
	background: white;
	overflow-wrap: break-word;
	box-sizing: content-box;
	margin: var(--prose-margin, 1rem 0.75rem);
	margin-left: 0;
	margin-right: 0;
	
	/*border-width: var(--prose-margin, 1rem 0.75rem);
	border-style: none solid;
	border-color: transparent;*/
	
	font-size: 1rem;
	line-height: 1.75;
	
	--image-border: 1px solid silver;
	--embed-height: 20vh;
}

/* from cohost */
.prose {
	--emoji-scale: 1em;
	/* color components */
	--color-compose-button-600: 103 26 61;
	--color-compose-button-400: 174 68 115;
	--color-compose-button: 131 37 79;
	--color-sidebar-accent: 131 37 79;
	--color-sidebar-text: 25 25 25;
	--color-sidebar-bg: 255 249 242;
	--color-background: 255 249 242;
	--color-accent: 255 171 92;
	--color-secondary: 229 107 111;
	--color-secondary-700: 123 27 31;
	--color-secondary-600: 164 42 47;
	--color-secondary-400: 229 107 111;
	--color-secondary-300: 238 153 155;
	--color-secondary-200: 244 187 187;
	--color-foreground: 131 37 79;
	--color-foreground-800: 59 9 32;
	--color-foreground-700: 81 17 46;
	--color-foreground-600: 103 26 61;
	--color-foreground-400: 174 68 115;
	--color-foreground-300: 211 116 155;
	--color-foreground-200: 238 173 199;
	--color-bg-text: 25 25 25;
	--color-text: 255 249 242;
	--color-longan: 255 216 168;
	--color-mango: 255 171 92;
	--color-strawberry: 229 107 111;
	--color-cherry: 131 37 79;
	--color-notBlack: 25 25 25;
	--color-notWhite: 255 249 242;
	/* font-variant */
	--tw-font-variant-numeric:;--tw-numeric-fraction:;--tw-numeric-spacing:;--tw-numeric-figure:;--tw-slashed-zero:;--tw-ordinal:;
	/* backdrop filter */
	--tw-backdrop-filter:;--tw-backdrop-sepia:;--tw-backdrop-saturate:;--tw-backdrop-opacity:;--tw-backdrop-invert:;--tw-backdrop-hue-rotate:;--tw-backdrop-grayscale:;--tw-backdrop-contrast:;--tw-backdrop-brightness:;--tw-backdrop-blur:;
	/* filter */
	--tw-filter:;--tw-drop-shadow:;--tw-sepia:;--tw-saturate:;--tw-invert:;--tw-hue-rotate:;--tw-grayscale:;--tw-contrast:;--tw-brightness:;--tw-blur:;
	/* shadows */
	--tw-shadow-colored: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-color: #fff;
	--tw-ring-offset-width: 0px;
	--tw-ring-inset: ;
	--tw-border-opacity: 1;
	/* transform */
	--tw-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1); --tw-scale-y: 1; --tw-scale-x: 1; --tw-skew-y: 0; --tw-skew-x: 0; --tw-rotate: 0; --tw-translate-y: 0; --tw-translate-x: 0;
	/* opacity */
	--tw-text-opacity: 1; --tw-bg-opacity: 1;
	/* prose invert colors */
	--tw-prose-invert-td-borders: #374151;
	--tw-prose-invert-th-borders: #4b5563;
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-pre-code: #d1d5db;
	--tw-prose-invert-code: #fff;
	--tw-prose-invert-captions: #9ca3af;
	--tw-prose-invert-quote-borders: #374151;
	--tw-prose-invert-quotes: #f3f4f6;
	--tw-prose-invert-hr: #374151;
	--tw-prose-invert-bullets: #4b5563;
	--tw-prose-invert-counters: #9ca3af;
	--tw-prose-invert-bold: #fff;
	--tw-prose-invert-links: #fff;
	--tw-prose-invert-lead: #9ca3af;
	--tw-prose-invert-headings: #fff;
	--tw-prose-invert-body: #d1d5db;
	/* prose colors */
	--tw-prose-td-borders: #e5e7eb;
	--tw-prose-th-borders: #d1d5db;
	--tw-prose-pre-bg: #1f2937;
	--tw-prose-pre-code: #e5e7eb;
	--tw-prose-code: #111827;
	--tw-prose-captions: #6b7280;
	--tw-prose-quote-borders: #e5e7eb;
	--tw-prose-quotes: #111827;
	--tw-prose-hr: #e5e7eb;
	--tw-prose-bullets: #d1d5db;
	--tw-prose-counters: #6b7280;
	--tw-prose-bold: #111827;
	--tw-prose-links: #111827;
	--tw-prose-lead: #4b5563;
	--tw-prose-headings: #111827;
	--tw-prose-body: #374151;
}



/* 0 */
* /*, ::before, ::after */ { /* ANY */
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: rgb(222,217,211);
	--above: unset;
	--below: unset;
}

*:where(:focus, :focus-visible) { /* ANY */
	outline: solid 4px rgb(var(--color-foreground));
}


/* tag */

figure > * { /* ANY */
	--above: 0;
	--below: 0;
}

hr { /* <hr> */
	height: 0;
	color: inherit;
	border-color:var(--tw-prose-hr);
	border-top-width:1px;
	margin: var(--above, 1em) 0 var(--above, 1em);
}
h1 {
	color: var(--tw-prose-headings);
	font-weight: 800;
	font-size: 2.25em;
	margin: var(--above, 0) 0 var(--above, 0.8888889em);
	line-height: 1.1111111;
}
h2 {
	color: var(--tw-prose-headings);
	font-weight: 700;
	font-size: 1.5em;
	margin: var(--above, 2em) 0 var(--above, 1em);
	line-height: 1.3333333;
}
h3 {
	color: var(--tw-prose-headings);
	font-weight: 600;
	font-size: 1.25em;
	margin: var(--above, 1.6em) 0 var(--above, 0.6em);
	line-height: 1.6;
}
h4 {
	color: var(--tw-prose-headings);
	font-weight: 600;
	font-size: inherit;
	margin: var(--above, 1.5em) 0 var(--below, 0.5em);
	line-height: 1.5;
}
h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}
b {
	font-weight: bolder;
}
strong {
	color: var(--tw-prose-bold);
	font-weight: 600;
}
code, kbd, samp, pre { /* <code> <kbd> <samp> <pre> */
	font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
	font-size: 1em;
}
small { /* <small> */
	font-size:80%;
}
sub, sup { /* <sub> <sup> */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { /* <sub> */
	bottom: -0.25em;
}
sup { /* <sup> */
	top: -0.5em;
}
table { /* <table> */
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	text-align: left;
	font-size: 0.875em;
	line-height: 1.7142857;
	margin-top: 2em;
	margin-bottom: 2em;
}
input { /* <input> */
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	margin: 0;
	padding: 0;
	appearance: none;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	border-color: rgb(130, 127, 124);
	border-width: 1px;
	border-radius: 0;
	background-color: rgb(255,249,242);
	cursor: not-allowed;
	color: rgb(211,116,155);
}
summary { /* <summary> */
	display: list-item;
}
dl, dd { /* <dl> <dd> <figure> <p> <pre> */
	margin: 0;
}
p {
	margin: 1.25em 0;
}
p:where(ul > li *) {
	margin: 0.75em 0;
}

blockquote {
	font-weight: 500;
	font-style: italic;
	color: var(--tw-prose-quotes);
	border-left-width: 0.25rem;
	border-left-color: var(--tw-prose-quote-borders);
	quotes: "\201C""\201D""\2018""\2019";
	margin: var(--above, 1.6em) 0 var(--above, 0);
	padding-left: 1em;
}
ol, ul { /* <ol> <ul> */
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.625em;
}
ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;
}
img, video {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
img, video, figure {
	--media-margin: 2em;
	margin-top: var(--media-margin);
	margin-bottom: var(--media-margin);
}
audio {
	display: block;
	vertical-align: middle;
}
figcaption {
	color: var(--tw-prose-captions);
	font-size: 0.875em;
	line-height: 1.4285714;
	margin-top: 0.8571429em;
}
code {
	color: var(--tw-prose-code);
	font-weight: 600;
	font-size: 0.875em;
}
code::before {
	content: "`";
}
code::after {
	content: "`";
}
pre {
	color: var(--tw-prose-pre-code);
	background-color: var(--tw-prose-pre-bg);
	overflow-x: auto;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.7142857;
	border-radius: 0.375rem;
	padding: 0.8571429em 1.1428571em;
	margin: 1.7142857em 0;
}
thead { /* <thead> */
	border-bottom-width: 1px;
	border-bottom-color: var(--tw-prose-th-borders);
}
a {
	color: inherit;
	text-decoration: underline;
	font-weight: 500;
}
li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


/* tag tag */

ol > li::marker { /* <li>::marker */
	font-weight: 400;
	color: var(--tw-prose-counters);
}
ul > li::marker { /* <li>::marker */
	color: var(--tw-prose-bullets);
}

h1 strong {
	font-weight: 900;
}
h2 strong {
	font-weight: 800;
}
h3 strong, h4 strong {
	font-weight: 700;
}
a code {
	color: var(--tw-prose-links);
}
pre code {
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
pre code::before, pre code::after {
	content: none;
}
thead th {
	color: var(--tw-prose-headings);
	font-weight: 600;
	vertical-align: bottom;
	padding-right: 0.5714286em;
	padding-bottom: 0.5714286em;
	padding-left: 0.5714286em;
}
tbody tr { /* <tr> */
	border-bottom-width: 1px;
	border-bottom-color: var(--tw-prose-td-borders);
}
tbody td { /* <td> */
	vertical-align: baseline;
	padding: 0.5714286em;
}
h2 code {
	font-size: 0.875em;
}
h3 code {
	font-size: 0.9em;
}
ol > li, ul > li {
	padding-left: 0.375em;
}


/* prop */

.prose > :where(ul > li > *:first-child, ol > li > *:first-child) { /* ANY */
	margin-top: 1.25em;
}
.prose > :where(ul > li > *:last-child, ol > li > *:last-child) { /* ANY */
	margin-bottom: 1.25em;
}
.prose :where(ul ul, ul ol, ol ul, ol ol) { /* <ul>, <ol> */
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.prose :where(hr,h2,h3,h4) + * { /* ANY */
	margin-top: 0;
}
.prose > :where(:first-child) { /* ANY */
	margin-top: 0;
}
.prose > :where(:last-child) { /* ANY */
	margin-bottom: 0;
}

.emote {
	display: inline-block;
	width: var(--emoji-scale);
	height: var(--emoji-scale);
	margin: 0;
	object-fit: contain;
	vertical-align: middle;
	--image-border: none;
}
/* what if we make <q style=color:red>text</q> generate like <span style=color:red><span>"text"</span></span> */
.mention {
	font-weight: bold;
	text-decoration: none;
}
.mention:hover {
	text-decoration: underline;
}
.embed {
	background: rgb(221, 221, 216);
	border: 2px solid rgb(102, 102, 102);
	color: rgb(0, 0, 255);
	display: grid;
	place-items: center;
	padding: 0.5rem;
}
.read-more {
	text-decoration: none;
	color: rgb(var(--color-foreground));
	font-weight: 700;
	font-size: .875rem;
	line-height: 1.25rem;
	margin-bottom: .75rem;
	background-color: white;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0 1rem 0.75rem;
}
.read-more:not([data-open]) {
	border-top: 2px dotted;	
}
.read-more:hover {
	text-decoration: underline;
}


/* prop tag */

ol[type=A], ol[type=As] { list-style-type:upper-alpha; }
ol[type=a], ol[type=as] { list-style-type:lower-alpha; }
ol[type=I], ol[type=Is] { list-style-type:upper-roman; }
ol[type=i], ol[type=is] { list-style-type:lower-roman; }
ol[type="1"] { list-style-type:decimal; }

abbr[title] { /* <abbr> */
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
input:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9J3doaXRlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00xMi4yMDcgNC43OTNhMSAxIDAgMDEwIDEuNDE0bC01IDVhMSAxIDAgMDEtMS40MTQgMGwtMi0yYTEgMSAwIDAxMS40MTQtMS40MTRMNi41IDkuMDg2bDQuMjkzLTQuMjkzYTEgMSAwIDAxMS40MTQgMHonLz48L3N2Zz4=);
}
input:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-color: rgb(37, 99, 235);
	box-shadow:
		0 0 0 2px white,
		0 0 0 4px rgb(var(--color-foreground));
}


/* prop tag2 */

tbody tr:last-child {
	border-bottom-width: 0;
}
thead th:first-child, tbody td:first-child {
	padding-left: 0;
}
thead th:last-child, tbody td:last-child {
	padding-right: 0;
}


/* prop2 */

*:focus:not(:focus-visible) { /* ANY */
	outline: none;
}


/* prop2 tag */

.prose > img:not([style]) {
	max-height: var(--embed-height);
	--media-margin: 1em;
	border: var(--image-border);
}

blockquote p:first-of-type::before {
	content: open-quote;
}
blockquote p:last-of-type::after {
	content: close-quote;
}

input:checked:focus {
	border-color: transparent;
}



/*
the default image sizes/spacing are WAYYY too big,
but we can't mess with it too much, otherwise it could break things.
so, we just target unstyled images, at the top level or directly inside
a paragraph
*/
.prose p > img:not([style]) {
	max-height: var(--embed-height);
	--media-margin: 1em;
	border: var(--image-border);
}


/* prop3 */

/* ??? */
[id][id][id$=footnote-label] { /* ANY */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
	margin: -1px;
}



[type=text],[type=email],[type=url],[type=password],[type=number],[type=date],[type=datetime-local],[type=month],[type=search],[type=tel],[type=time],[type=week],[multiple][type=button],[type=reset],[type=submit],[type=radio],[type=checkbox]:not(input) {
	border: 2px dashed red !important;
	background: yellow !important;
}

