@keyframes bounce {
	0%,100% {
		transform:translateY(-25%);
		animation-timing-function:cubic-bezier(.8,0,1,1);
	}
	50% {
		transform:none;
		animation-timing-function:cubic-bezier(0,0,.2,1);
	}
}
@keyframes slideupright {
	0% {
		transform:scale(0);
		transform-origin:bottom right;
	}
	100% {
		transform:scale(1);
		transform-origin:bottom right;
	}
}
@keyframes slideupleft {
	0% {
		transform:scale(0);
		transform-origin:bottom left;
	}
	100% {
		transform:scale(1);
		transform-origin:bottom left;
	}
}
@media(prefers-reduced-motion:no-preference) {
	@keyframes spin {
		to {
			transform:rotate(360deg);
		}
	}
}
@media(prefers-reduced-motion:reduce) {
	@keyframes pulse {
		50% {
			opacity:.5;
		}
	}
}


/* 0 */
*, ::before, ::after { /* ANY */
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color:rgb(222,217,211);
}


/* tag */
:host { /* ROOT */
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	font-family:
		Atkinson Hyperlegible, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
		apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
	--color-foreground: rgb(131, 37, 79);
}
hr { /* <hr> */
	height: 0;
	color: inherit;
	border-top-width: 1px;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 { /* <h1> <h2> <h3> <h4> <h5> <h6> */
	font-size:inherit;
	font-weight:inherit;
	margin:0;
}
b, strong { /* <b> <strong> */
	font-weight: bolder;
}
code, kbd, samp, pre { /* <code> <kbd> <samp> <pre> */
	font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
	font-size: 1em;
}
small { /* <small> */
	font-size:80%;
}
sub, sup { /* <sub> <sup> */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { /* <sub> */
	bottom: -0.25em;
}
sup { /* <sup> */
	top: -0.5em;
}
table { /* <table> */
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
input { /* <input> */
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
summary { /* <summary> */
	display: list-item;
}
blockquote, dl, dd, figure, p, pre { /* <blockquote> <dl> <dd> <figure> <p> <pre> */
	margin: 0;
}
ol, ul { /* <ol> <ul> */
	list-style:none;
	margin: 0;
	padding: 0;
}
img, video { /* <img> <video> */
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
audio { /* <audio> */
	display: block;
	vertical-align: middle;
}


/* prop */

[type=button],[type=reset],[type=submit] { /* ANY */
	background-color: transparent;
	background-image: none;
}
:-moz-focusring { /* ANY ? */
	outline: auto;
}
:-moz-ui-invalid { /* ANY ? */
	box-shadow: none;
}
[type=search] { /* ANY */
	outline-offset: -2px;
}
:disabled { /* ANY */
	cursor:default;
}
[type=text],[type=email],[type=url],[type=password],[type=number],[type=date],[type=datetime-local],[type=month],[type=search],[type=tel],[type=time],[type=week],[multiple] { /* ANY */
	appearance: none;
	background-color: #FFF;
	border-color: #827F7C;
	border-width: 1px;
	border-radius: 0;
	
	padding: 0.5rem 0.75rem;
	
	font-size: 1rem;
	line-height: 1.5rem;
}
[multiple] { /* ANY */
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
}
[type=checkbox],[type=radio] { /* ANY */
	appearance: none;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563EB;
	background-color: #FFF;
	border-color: #827F7C;
	border-width: 1px;
}
[type=checkbox] { /* ANY */
	border-radius: 0;
}
[type=radio] { /* ANY */
	border-radius: 100%;
}
[type=file] { /* ANY */
	background: unset;
	border-color: inherit;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-size: unset;
	line-height: inherit;
}
[type=text],[type=email],[type=url],[type=password],[type=number],[type=date],[type=datetime-local],[type=month],[type=search],[type=tel],[type=time],[type=week],[multiple] { /* ANY */
	background-color: rgb(255,249,242);
	color: rgb(25,25,25);
}
*:focus, *:focus-visible { /* ANY */
	outline: solid 4px var(--color-foreground);
	--tw-ring-color: var(--color-foreground);
}

.prose { /* ROOT */
	color: #191919;
	max-width: 65ch;
}

.prose :where(.lead) { /* ANY ? */
	color: var(--tw-prose-lead);
	font-size: 1.25em;
	line-height: 1.6;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.prose :where(strong) { /* <strong> */
	color: var(--tw-prose-bold);
	font-weight: 600;
}
.prose :where(ol) { /* <ol> */
	list-style-type:decimal;
	padding-left:1.625em;
}
.prose :where(ol[type=A]) { /* <ol> */
	list-style-type:upper-alpha;
}
.prose :where(ol[type=a]) { /* <ol> */
	list-style-type:lower-alpha;
}
.prose :where(ol[type=As]) { /* <ol> */
	list-style-type:upper-alpha;
}
.prose :where(ol[type=as]) { /* <ol> */
	list-style-type:lower-alpha;
}
.prose :where(ol[type=I]) { /* <ol> */
	list-style-type:upper-roman;
}
.prose :where(ol[type=i]) { /* <ol> */
	list-style-type:lower-roman;
}
.prose :where(ol[type=Is]) { /* <ol> */
	list-style-type:upper-roman;
}
.prose :where(ol[type=is]) { /* <ol> */
	list-style-type:lower-roman;
}
.prose :where(ol[type="1"]) { /* <ol> */
	list-style-type:decimal;
}
.prose :where(ul) { /* <ul> */
	list-style-type:disc;
	padding-left:1.625em;
}
.prose :where(ol>li)::marker { /* <li>::marker */
	font-weight:400;
	color:var(--tw-prose-counters);
}
.prose :where(ul>li)::marker { /* <li>::marker */
	color:var(--tw-prose-bullets);
}
.prose :where(hr) { /* <hr> */
	border-color:var(--tw-prose-hr);
	border-top-width:1px;
	margin-top:1em;
	margin-bottom:1em;
}
.prose :where(blockquote) { /* <blockquote> */
	font-weight: 500;
	font-style: italic;
	color: var(--tw-prose-quotes);
	border-left-width: 0.25rem;
	border-left-color: var(--tw-prose-quote-borders);
	quotes: "\201C""\201D""\2018""\2019";
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	padding-left: 1em;
}
.prose :where(blockquote p:first-of-type)::before { /* <p> */
	content: open-quote;
}
.prose :where(blockquote p:last-of-type)::after { /* <p> */
	content: close-quote;
}
.prose :where(h1) { /* <h1> */
	color: var(--tw-prose-headings);
	font-weight: 800;
	font-size: 2.25em;
	margin-top: 0;
	margin-bottom: 0.8888889em;
	line-height: 1.1111111;
}
.prose :where(h1 strong) { /* <strong> */
	font-weight: 900;
}
.prose :where(h2) { /* <h2> */
	color: var(--tw-prose-headings);
	font-weight: 700;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3333333;
}
.prose :where(h2 strong) { /* <strong> */
	font-weight: 800;
}
.prose :where(h3) { /* <h3> */
	color: var(--tw-prose-headings);
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 1.6em;
	margin-bottom: 0.6em;
	line-height: 1.6;
}
.prose :where(h3 strong) { /* <strong> */
	font-weight: 700;
}
.prose :where(h4) { /* <h4> */
	color: var(--tw-prose-headings);
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}
.prose :where(h4 strong) { /* <strong> */
	font-weight: 700;
}

.prose :where(figure > *) { /* ANY */
	margin-top: 0;
	margin-bottom: 0;
}

.prose :where(figcaption) { /* <figcaption> */
	color: var(--tw-prose-captions);
	font-size: 0.875em;
	line-height: 1.4285714;
	margin-top: 0.8571429em;
}
.prose :where(code) { /* <code> */
	color:var(--tw-prose-code);
	font-weight:600;
	font-size:.875em;
}
.prose :where(code)::before { /* <code> */
	content: "`";
}
.prose :where(code)::after { /* <code> */
	content: "`";
}
.prose :where(a code) { /* <code> */
	color: var(--tw-prose-links);
}
.prose :where(pre) { /* <pre> */
	color: var(--tw-prose-pre-code);
	background-color: var(--tw-prose-pre-bg);
	overflow-x: auto;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.7142857;
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
	border-radius: 0.375rem;
	padding: 0.8571429em 1.1428571em;
}
.prose :where(pre code) { /* <code> */
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
.prose :where(pre code)::before { /* <code> */
	content: none;
}
.prose :where(pre code)::after { /* <code> */
	content: none;
}
.prose :where(table) { /* <table> */
	width: 100%;
	table-layout: auto;
	text-align: left;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 0.875em;
	line-height: 1.7142857;
}
.prose :where(thead) { /* <thead> */
	border-bottom-width: 1px;
	border-bottom-color: var(--tw-prose-th-borders);
}
.prose :where(thead th) { /* <th> */
	color: var(--tw-prose-headings);
	font-weight: 600;
	vertical-align: bottom;
	padding-right: 0.5714286em;
	padding-bottom: 0.5714286em;
	padding-left: 0.5714286em;
}
.prose :where(tbody tr) { /* <tr> */
	border-bottom-width: 1px;
	border-bottom-color: var(--tw-prose-td-borders);
}
.prose :where(tbody tr:last-child) { /* <tr> */
	border-bottom-width: 0;
}
.prose :where(tbody td) { /* <td> */
	vertical-align: baseline;
	padding: 0.5714286em;
}
.prose { /* ROOT */
	scrollbar-color: initial;
	background: white;
	overflow-wrap: break-word;
	max-width: 65ch;
	box-sizing: content-box;
	margin: var(--prose-margin, 1rem);
	margin-left: 0;
	margin-right: 0;
	
	border-width: var(--prose-margin, 1rem);
	border-style: none solid;
	border-color: transparent;
	
	--tw-prose-body:#374151;
	--tw-prose-headings:#111827;
	--tw-prose-lead:#4b5563;
	--tw-prose-links:#111827;
	--tw-prose-bold:#111827;
	--tw-prose-counters:#6b7280;
	--tw-prose-bullets:#d1d5db;
	--tw-prose-hr:#e5e7eb;
	--tw-prose-quotes:#111827;
	--tw-prose-quote-borders:#e5e7eb;
	--tw-prose-captions:#6b7280;
	--tw-prose-code:#111827;
	--tw-prose-pre-code:#e5e7eb;
	--tw-prose-pre-bg:#1f2937;
	--tw-prose-th-borders:#d1d5db;
	--tw-prose-td-borders:#e5e7eb;
	--tw-prose-invert-body:#d1d5db;
	--tw-prose-invert-headings:#fff;
	--tw-prose-invert-lead:#9ca3af;
	--tw-prose-invert-links:#fff;
	--tw-prose-invert-bold:#fff;
	--tw-prose-invert-counters:#9ca3af;
	--tw-prose-invert-bullets:#4b5563;
	--tw-prose-invert-hr:#374151;
	--tw-prose-invert-quotes:#f3f4f6;
	--tw-prose-invert-quote-borders:#374151;
	--tw-prose-invert-captions:#9ca3af;
	--tw-prose-invert-code:#fff;
	--tw-prose-invert-pre-code:#d1d5db;
	--tw-prose-invert-pre-bg:rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders:#4b5563;
	--tw-prose-invert-td-borders:#374151;
	font-size: 1rem;
	line-height: 1.75;
}
.prose :where(p) { /* <p> */
	margin-top:1.25em;
	margin-bottom:1.25em;
}
.prose :where(img, video, figure) { /* <img> <video> <figure> */
	margin-top:2em;
	margin-bottom:2em;
}
.prose :where(h2 code) { /* <code> */
	font-size: 0.875em;
}
.prose :where(h3 code) { /* <code> */
	font-size: 0.9em;
}
.prose :where(li) { /* <li> */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.prose :where(ol>li),
.prose :where(ul>li) { /* <li> */
	padding-left: 0.375em;
}
.prose>:where(ul>li p) { /* <p> */
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
/* *** */
.prose>:where(ul>li>*:first-child) { /* ANY */
	margin-top:1.25em;
}
.prose>:where(ul>li>*:last-child) { /* ANY */
	margin-bottom:1.25em;
}
.prose>:where(ol>li>*:first-child) { /* ANY */
	margin-top:1.25em;
}
.prose>:where(ol>li>*:last-child) { /* ANY */
	margin-bottom:1.25em;
}
.prose :where(ul ul,ul ol,ol ul,ol ol) { /* <ul>,<ol> */
	margin-top:.75em;
	margin-bottom:.75em;
}
.prose :where(hr+*),
.prose :where(h2+*),
.prose :where(h3+*),
.prose :where(h4+*) { /* ANY */
	margin-top: 0;
}
.prose :where(thead th:first-child) { /* <th> */
	padding-left: 0;
}
.prose :where(thead th:last-child) { /* <th> */
	padding-right: 0;
}
.prose :where(tbody td:first-child) { /* <td> */
	padding-left: 0;
}
.prose :where(tbody td:last-child) { /* <td> */
	padding-right: 0;
}
.prose>:where(:first-child) { /* ANY */
	margin-top: 0;
}
.prose>:where(:last-child) { /* ANY */
	margin-bottom: 0;
}
[type=radio] { /* ANY */
	appearance: none;
	border-width: 2px;
	border-color: var(--color-foreground);
}
[id$=footnote-label] { /* ANY */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
}


/* prop tag */

abbr[title] { /* <abbr> */
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
.prose a { /* <a> */
	text-decoration: underline;
	font-weight: 500;
}
input[type=checkbox] { /* <input> */
	background-color: rgb(255,249,242);
	color: rgb(131,37,79);
}


/* prop2 */

*:is([type=text],[type=email],[type=url],[type=password],[type=number],[type=date],[type=datetime-local],[type=month],[type=search],[type=tel],[type=time],[type=week],[multiple],[type=checkbox],[type=radio]):focus { /* ANY */
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-color: #2563EB;
	box-shadow:
		0 0 0 0 white,
		0 0 0 1px var(--tw-ring-color, #2563EB);
}
*:is([type=checkbox],[type=radio]):focus { /* ANY */
	box-shadow:
		0 0 0 2px white,
		0 0 0 4px var(--tw-ring-color, #2563EB);
}

[type=checkbox]:checked,[type=radio]:checked,[type=checkbox]:indeterminate { /* ANY */
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
[type=checkbox]:checked { /* ANY */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9J3doaXRlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00xMi4yMDcgNC43OTNhMSAxIDAgMDEwIDEuNDE0bC01IDVhMSAxIDAgMDEtMS40MTQgMGwtMi0yYTEgMSAwIDAxMS40MTQtMS40MTRMNi41IDkuMDg2bDQuMjkzLTQuMjkzYTEgMSAwIDAxMS40MTQgMHonLz48L3N2Zz4=);
}
[type=radio]:checked { /* ANY */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9J3doaXRlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgY3g9JzgnIGN5PSc4JyByPSczJy8+PC9zdmc+);
}
[type=checkbox]:indeterminate { /* ANY */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBhdGggc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzInIGQ9J000IDhoOCcvPjwvc3ZnPg==);
}
[type=file]:focus { /* ANY */
	outline: 1px auto -webkit-focus-ring-color; /* ? */
}
*:focus:not(:focus-visible) { /* ANY */
	outline: none;
}
[type=radio]:checked { /* ANY */
	background-color: var(--color-foreground);
}


/* prop2 tag */

input[type=checkbox]:disabled { /* <input> */
	cursor: not-allowed;
	color: rgb(211,116,155);
}


/* prop3 */

[type=checkbox]:checked:hover,
[type=checkbox]:checked:focus,
[type=radio]:checked:hover,
[type=radio]:checked:focus,
[type=checkbox]:indeterminate:hover,
[type=checkbox]:indeterminate:focus { /* ANY */
	border-color: transparent;
	background-color: currentColor;
}
[type=radio]:focus:checked { /* ANY */
	background-color: var(--color-foreground);
}
